<!DOCTYPE html>
<html>

    
    <head>
    
        <link rel="stylesheet" type="text/css" href="/css/styles.css"
    
    </head>

    

        
        
        
        
    <body class="cvmoduleview">
    
    <h1 id="welcometext"> </h1>
       
        <x-knobjs-knob id="knob"></x-knobjs-knob>

        <input id="input" style="vertical-align:top;">
        <script>
          window.onload = function(){
            var knob = document.getElementById("knob");
            var input = document.getElementById("input");
            knob.onchange = function(){
              input.value = ~~knob.value;
                socket.emit('ping', Math.round(input.value*2.55).toString());
            }
            input.onchange = function(){
              knob.value = ~~input.value;
                socket.emit('ping', Math.round(input.value*2.55).toString());
            }
          }
        </script>
        
        <button type="button"class="btn btn-primary" id="button2">Update</button>
        
    
    
    
    
        <script type="text/javascript" src="http://www.russellmcc.com/knobjs/knob.min.js"></script>
    
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="../node_modules/socket.io-client/socket.io.js"></script>
        <script src="../controllers/control_scripts.js"></script>
        
        
        </body>
</html>