<!DOCTYPE html>
<html>

<head>
    <title> Modular Synthesizer Controller </title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../css/styles.css" type="text/css"> 
    
    </head>

    <body class="cvmoduleview">
   
    
        <form id="inputwindow">
        <h1 id="h1">Welcome to CV-Module!</h1>
            
            <div class="form-group">
                <label for="usernameinput">Enter your name</label>
                <input type="text" class="form-control" id="usernameinput" placeholder="username">
            </div>
            
            <button type="button" class="btn btn-primary" id="button1">Log in</button>
        
        
        </form>
    
    
    
    
    
    
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> </script>
        
    
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        
        <script src="../controllers/login_script.js"></script>
        
    </body>








</html>